.DS_Store
/.build
/Packages
/dist
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/project*.md
/design*.md
/testreport.md
.superpowers/
